body {
   text-align: center;             
        }
      *{
        margin: 0;
        padding: 0;
      }
      .wrapper{
        width: 1180px;
        margin: auto;
      }
      header{
        height: 200px;
       position: fixed;
        background-image: url(mer.jpg);
        width: 100%;
        background-size: cover;
      }
      nav{
        float: right;
        line-height: 100px;
        background-color: rgb(177, 243, 138);
     }
      nav a{
        text-decoration: none;
        font-family: bignoodletitling;
        letter-spacing: 4px;
        font-size: 30px;
        margin: 0 10px ;
        color: rgb(21, 5, 238);
       padding: 20px solid;

      }
      .bio{
        width: 100px;
        height: 1800px;
        position: fixed;
        top: 100px;
        background-size: cover;
       background-position: center center;

      }
.bio h1{
  padding-top: 8%;
  font-size: 70px;
  }
.content{
width: 100%;
background: #ddd;
position: relative;
top: 200px;
height: 800px;

}
.content h2{
  font-family: bignoodletitling;
  letter-spacing: 4px;
  padding-top: 30px;
  font-size: 40px;
  margin: 0;
}a:hover{
  color: aqua;
}
.img{
  float:left
  padding right
}


